:root {
  --clr-light: whitesmoke;
  --clr-dark: black;
}

html{
    scroll-behavior: smooth;
  }

body{
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: var(--clr-dark);
}  

.darkmode {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: var(--clr-light)
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    font-weight: bold;
    border-bottom: 5px;
    border-bottom-style: dashed;
}

.mode{
  padding-top: 25px;
  height: 50px;
  width: 50px;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
 }


.letsblog {
  height: 100%;
  width: 100%;
}

.form {
  width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-left: 15%;
}

.blogging {
width: 100%
}


button {
  background-color: yellow;
  border: none;
  height: 50px;
  width: 80px;
  font-weight: 700;
  font-size: larger;
}
