:root {
  --clr-light: whitesmoke;
  --clr-dark: black;
}

html{
    scroll-behavior: smooth;
  }

body{
  background-color: var(--clr-light);
  color: var(--clr-dark);
}  

header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    font-weight: bold;
    border-bottom: 5px;
    border: var(--clr-dark);
    border-bottom-style: dashed;
}

.mode{
  padding-top: 25px;
  height: 50px;
  width: 50px;
}

.container{
  padding-top: 5px;
  display: flex;
}

.image {
  display: flexbox;
  flex-basis: 40%;
}

.form {
align-items: stretch;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-left: 70px;
flex-basis: 60%;
}